body {
  background: #E2E1DD;
}



h1 {
  margin-left: 12px;
  color: slategrey;
}

.sidebar {
  float: left;
  background-color: tan;
  height: 100%;
}

.panel {
  float: right;
  width: 70%;
  z-index: 1;
}

.jumbotron {
  height: 252px;
}
