body {
  background: #E2E1DD;
}



h1 {
  margin-left: 12px;
  color: #5D5C55;
}

h2 {
  color: #92918C;
}

.sidebar {
  float: left;
  background-color: #9E9562;
  height: 100%;
}

.jumbotron {
  width: 100%;
  height: 252px;
  /* background-image: url(../img/forest.jpeg)
  background-repeat: no;
  background-size: cover; */


}

.panel {
  float: right;
  width: 70%;
  z-index: 1;
  height: 200px;
}

#secondpanel {
  float: right;
  width: 70%;

}

.row {
  height: 30px;
}

.col-md-3 {
  border: 2px solid #AC9411;
  padding: 6px;
  margin: 2px;
  border-height: 30px;
  text-align: center;
  border-radius: 10px;

}
