body {
  background: #E2E1DD;
}

.container {
  /* margin-left: 30px;
  margin-right: 10px; */
}

h1 {
  margin-left: 12px;
  color: #5D5C55;
}

h2 {
  color: #92918C;
  /* link: no; */
}

.sidebar {
  float: left;
  background-color: #9E9562;
  height: 100%;
}

.jumbotron {
  width: 100%;
  height: 252px;
  /* background-image: url(../img/forest.jpeg)
  background-repeat: no;
  background-size: cover; */
  background-color: #313536;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.panel-heading {
  background-color: white;
}

.panel {
  float: right;
  width: 70%;
  z-index: 1;
  height: 500px;
  background-color: #757C79;
}

.special {
  font-weight: bold;
  color: #3E4773;
}

ul {
  align: left;
  padding-right: 5px;
  color: #8189B3;

}

.chunk {
  font-size: 24px;

}

/* #outside {
height: 200px;
background: blue;
} */

ol {
  font-size: 24px;
}


.row {
  height: 150px;
}

#top {
  margin-bottom: 30px;
}

.col-md-3 {
  border: 2px solid #AC9411;
  padding: 6px;
  margin: 2px 25px 2px 25px;
  /* border-height: 30px; */
  text-align: center;
  border-radius: 10px;

}

#interestpics {
  width: auto;
}
